.lista_cadastro {
    background-color: greenyellow;
    text-align: center;
}

.list_cadastro .container table {
    background-color: #DCDCDC;
}

.açao_td .açao_ol dd {
    display: inline-block;
    list-style-type: none;
}

.acao {
    width: 90px;
    height: 30px;
}

.cliente{
    text-decoration: none;
    color:white;
}
.cliente:hover{
    text-decoration: none;
    color:white;
}
button a{
    text-decoration: none;
    color:white;
}
button a:hover{
    text-decoration: none;
    color:white;
}