#adm_lista ul {
    background-color: rgba(189, 189, 189, 0.785);
}

div {
    align-items: center;
}

#adm_lista ul li {
    text-align: center;
    font-size: 20px;
    color: black;
    text-decoration: none;
    display: block;
}

#adm_lista ul li a {
    font-size: 30px;
    text-decoration: none;
    color: SaddleBrown;
    font-family: arial black;
    -webkit-text-stroke-width: 0.4px;
    -webkit-text-stroke-color: black;
}

#adm_lista ul li a:hover {
    text-decoration: none;
}


/*tabela*/

.txt_orçamento table tr td {
    background-color: blanchedalmond;
    text-align: center;
    text-decoration: black;
    color: black;
}

.txt_orçamento img {
    width: 25px;
    margin: -7px;
}