.container_menu{
    max-width: 90vh;
}

.btn{
    margin: 0px 10px;
    color: white;
}

.btn.btn-warning:hover{
    margin: 0px 10px;
    color: white;
}

.btn a{
    color: white;
    text-decoration: none;
}

.acoes a {
    background-color: transparent;
    text-decoration: none;
}

.acoes img{
    width: 20px;
    height: 20px;
    margin: 0px 10px;
}

.acoes a img.confirma{
    background-color: #5bd89eb6;
    border-radius: 10px;
}

.acoes a img.cancela{
    background-color: rgb(238, 97, 97);
    border-radius: 10px;
}

#lupa{
    margin-left: 15px;
}

#id{
    text-align: center;
}